html {
  box-sizing: border-box;
  font-family: "interface",sans-serif;
  }
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
	background-color: lightblue;
	width: 100%;
  	height: 100%;
  	overflow: hidden;
}

body {
 	margin: 0;
 	width: 100%;
  	height: 100%;
}

#clock {
  font-size: 100px;
  color: white;
  margin-left: 35%;
  margin-top: 20%;
  position: fixed;

}
.box01 {
	top:0;
	height: 20%;
	width: 100%;

	background: -webkit-linear-gradient(
        rgba(255, 45, 146, 1) 0%,
        rgba(255, 45, 146, 0) 100%
    );
} 
.box02 {
	top:0;
	height: 40%;
	width: 100%;

	background: -webkit-linear-gradient(
        rgba(255, 0, 146, 1) 0%,
        rgba(255, 45, 146, 0) 100%
    );
} 

.box03 {
	top:0;
	height: 60%;
	width: 100%;

	background: -webkit-linear-gradient(
        rgba(0, 66, 246, 1) 0%,
        rgba(255, 45, 146, 0) 100%
    );
}
.box04 {
	top:0;
	height: 80%;
	width: 100%;

	background: -webkit-linear-gradient(
        rgba(205, 228, 0, 1) 0%,
        rgba(255, 45, 146, 0) 100%
    );
}
.box05 {
	top:0;
	height: 100%;
	width: 100%;

	background: -webkit-linear-gradient(
        rgba(182, 0, 228, 1) 0%,
        rgba(255, 45, 146, 0) 100%
    );
}
.box06 {
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: black;
}
@media screen and (max-width: 720px) {
    #clock {
    font-size: 60px;
    margin-top: 35%;

    }
    
}
