html {
  box-sizing: border-box;
  font-family: "interface",sans-serif;
  }
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
	width: 100%;
  	height: 100%;
  	overflow: hidden;
}

body {
 	margin: 0;
 	width: 100%;
  	height: 100%;
}

#clock {
  font-size: 100px;
  color: white;
  margin-left: 35%;
  margin-top: 20%;
  position: fixed;

}
#container {
	width: 80%;
	height: 15px;
	margin-left:10%;
	margin-right: 10%; 
	white-space: nowrap; 
}
.box01 {
	top:0;
	height: 100%;
	width: 1%;
	display: inline-block;

	background: -webkit-linear-gradient(
        rgba(255, 45, 146, 1) 0%,
        rgba(255, 45, 146, 0) 100%
    );
} 
.box02 {
	top:0;
	height: 100%;
	width: 1%;
	display: inline-block;

	background: -webkit-linear-gradient(
        rgba(255, 62, 0, 1) 0%,
        rgba(255, 45, 146, 0) 100%
    );
} 

.box03 {
	top:0;
	height: 100%;
	width: 1%;
	display: inline-block;

	background: -webkit-linear-gradient(
        rgba(0, 66, 246, 1) 0%,
        rgba(255, 45, 146, 0) 100%
    );
}
.box04 {
	top:0;
	height: 100%;
	width: 1%;
	display: inline-block;

	background: -webkit-linear-gradient(
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 45, 146, 0) 100%
    );
}
.box05 {
	top:0;
	height: 100%;
	width: 1%;
	display: inline-block;

	background: -webkit-linear-gradient(
        rgba(182, 0, 228, 1) 0%,
        rgba(255, 45, 146, 0) 100%
    );
}
.box06 {
	margin: 0;
	height: 100%;
	width: 1%;
	display: inline-block;
	background: -webkit-linear-gradient(
        rgba(222, 252, 2, 1) 0%,
        rgba(255, 45, 146, 0) 100%
    );
}
.box07 {
	margin: 0;
	height: 100%;
	width: 1%;
	display: inline-block;
	background: -webkit-linear-gradient(
        rgba(252, 2, 93, 1) 0%,
        rgba(255, 45, 146, 0) 100%
    );
}
.box08 {
	margin: 0;
	height: 100%;
	width: 1%;
	display: inline-block;
	background: -webkit-linear-gradient(
        rgba(255, 108, 0, 1) 0%,
        rgba(255, 45, 146, 0) 100%
    );
}
.box09 {
	margin: 0;
	height: 100%;
	width: 1%;
	display: inline-block;
	background: -webkit-linear-gradient(
        rgba(255, 224, 0, 1) 0%,
        rgba(255, 45, 146, 0) 100%
    );
}
.box10 {
	margin: 0;
	height: 100%;
	width: 1%;
	display: inline-block;
	background: -webkit-linear-gradient(
        rgba(0, 222, 57, 1) 0%,
        rgba(255, 45, 146, 0) 100%
    );
}
@media screen and (max-width: 720px) {
    #clock {
    font-size: 60px;
    margin-top: 35%;

    }
    
}
